@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



.header{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 0px 10%;
   background-color: #263238;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;
    background-color: #49854c
}

.logo{
    font-size: 32px;
    color: black;
    font-weight: 700;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: black;
    font-weight: 500;
    margin-left: 40px;
    
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: aliceblue;
    transform: .3s;
}

.navbar a:hover::before{
    width: 100%;
}