.Bull{
  background-color:#FFFFFF;
  max-width: 200px;
  border: 4px solid#BDBDBD;
  border-radius: 8px;
  font-family: 'Times New Roman', Times, serif;
  padding: 1em;
  margin: 50px;
  text-align: center;
  color: #212121;
}

.Bull img{
  width: 200px;
}


.full{
  display: inline flex;
  
}

.bull-btn{
  background-color:#74b4ad;
  border: 4px solid rgb(90, 124, 48);
  border-radius: 8px;
  cursor: pointer;
}

.bull-btn:hover {
    background-color: #e3e5de;
}

body{
  background: url() ;
 background-color:#FFF4E0;
}

.remove-btn{
  color: black;
  background-color:  #d9ead9; 
   border-radius: 8px; 
}

.remove-btn:hover{
  cursor: pointer;
}