.Bull{
  background-color: rgb(255, 251, 127);
  max-width: 200px;
  border: 4px solid rgb(206, 231, 15);
  border-radius: 8px;
  font-family: 'Times New Roman', Times, serif;
  padding: 1em;
  margin: 50px;
  text-align: center;
  
}

.Bull img{
  width: 200px;
}


.full{
  display: inline flex;
  
}

.bull-btn{
  background-color: rgb(255, 251, 127);
  border: 4px solid rgb(183, 30, 30);
  border-radius: 8px;
  cursor: pointer;
}

.bull-btn:hover {
    background-color: rgb(200, 218, 129);
}

body{
  background: url() ;
 background-color: antiquewhite;
}

.remove-btn{
  color: black;
  background-color:  rgb(200, 218, 129)  ;
}

.remove-btn:hover{
  cursor: pointer;
}