.Bull{
  background-color: aquamarine;
  max-width: 200px;
  border: 4px solid rgb(30, 159, 123);
  border-radius: 8px;
  font-family: 'Times New Roman', Times, serif;
  padding: 1em;
  margin: 50px;
  text-align: center;
  
}

.Bull img{
  width: 200px;
}


.full{
  display: inline flex;
  
}

.bull-btn{
  background-color: rgba(0, 255, 145, 0.724);
  border: 4px solid rgba(255, 153, 0, 0.833);
  border-radius: 8px;
  cursor: pointer;
}

.bull-btn:hover {
    background-color: rgb(43, 202, 11);
}
